// The horizontal padding between the edge of the form field fill box and the start of the text.
$mat-form-field-outline-side-padding: 16px;

// The border radius of the outline.
$mat-form-field-outline-border-radius: 8px;

// The width of the thick outline (used for focus, hover, and error state).
$mat-form-field-outline-thick-width: 1px;

// The horizontal padding between the edge of the subscript box and the start of the subscript text.
$mat-form-field-outline-subscript-padding: 8px;

// Design challenge values:
$mat-icon-size: 20px;
$mat-icon-input-padding: 8px;
$form-field-width: 232px;
$label-large-font-weight: 500;
$label-small-font-weight: 700;
$label-large-font-size: 14px;
$label-small-font-size: 12px;
$hint-left-padding: 8px;
$label-whitespace-x: 2px;

// Add "mat-form-field" to have higher specificity than Material's CSS:
mat-form-field.mat-form-field-appearance-outline.mat-form-field-hide-placeholder {
  label {
    top: 21px;
  }
}

mat-form-field.mat-form-field-appearance-outline.mat-form-field-should-float {
  label.mat-form-field-label {
    // Material multiplies the floating label's font-size by 0.75, so
    // undo it here to set the actual font size:
    font-size: $label-small-font-size / 0.75;
    font-weight: $label-small-font-weight;
    left: 0 - $mat-icon-size - $label-whitespace-x;
    top: 28px;
    mat-label {
      span {
        // Shrink label whitespace to desired # pixels:
        margin-left: $label-whitespace-x - 5px; // 5px is Material's value
        margin-right: $label-whitespace-x - 5px - 1px; // Remove extra pixel(s)
      }
    }
  }
}

mat-form-field.mat-form-field-appearance-outline {
  width: $form-field-width;

  .mat-form-field-flex:hover {
    .mat-form-field-outline {
      background-color: $hover-color;
    }
  }

  .mat-form-field-label-wrapper {
    overflow: unset;
  }

  label.mat-form-field-label {
    padding-left: $mat-icon-input-padding;
    font-size: $label-large-font-size;
    font-weight: $label-large-font-weight;
    transition-property: all;
    overflow: hidden;
  }

  input {
    position: relative;
    top: -8px;
    font-weight: $label-large-font-weight;
    font-size: $label-large-font-size;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    // Size and position the prefix & suffix icons:
    top: -3px;
    font-size: $mat-icon-size;
    line-height: $mat-icon-size;
    height: $mat-icon-size;
  }

  .mat-error,
  .mat-hint {
    font-weight: $label-small-font-weight;
    font-size: $label-small-font-size;
  }

  .mat-form-field-infix {
    padding-top: 10px;
    padding-left: $mat-icon-input-padding;
    padding-right: $mat-icon-input-padding;
  }

  .mat-form-field-flex {
    height: 44px;
  }

  .mat-form-field-outline-thick,
  .mat-form-field-outline {
    color: $outline-color;
    border-radius: $mat-form-field-outline-border-radius;
  }

  .mat-form-field-wrapper {
    margin-bottom: 0;
  }

  .mat-form-field-flex {
    padding: 0 $mat-form-field-outline-side-padding 0
      $mat-form-field-outline-side-padding;
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
    min-width: $mat-form-field-outline-border-radius;
  }

  .mat-form-field-outline-start {
    border-radius: $mat-form-field-outline-border-radius 0 0
      $mat-form-field-outline-border-radius;

    [dir="rtl"] & {
      border-radius: 0 $mat-form-field-outline-border-radius
        $mat-form-field-outline-border-radius;
    }
  }

  .mat-form-field-outline-end {
    border-radius: 0 $mat-form-field-outline-border-radius
      $mat-form-field-outline-border-radius 0;

    [dir="rtl"] & {
      border-radius: $mat-form-field-outline-border-radius 0 0
        $mat-form-field-outline-border-radius;
    }
  }

  .mat-form-field-outline-thick {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: $mat-form-field-outline-thick-width;
    }
  }

  .mat-form-field-subscript-wrapper {
    padding: 0 $hint-left-padding;
    margin-top: 5px;
  }
}
