// Style variables also used in form-field.scss:
$outline-color-opacity: 0.47;
$outline-color: rgba(black, $outline-color-opacity);
$hover-color: rgba(black, 0.06);

$typography: mat-typography-config(
  $font-family: "LatoWeb" monospace,
  $input: mat-typography-level(16px, 1.125, 400),
);

@include mat-core($typography);

// I used a color-picker on the provided screenshot to get one main color value, and then
// generated the palettes with this tool (http://mcg.mbitson.com/). Replaced hard-coded
// contrasts with "$xxx-primary-text".
$dc-primary: (
  50: #eae1fa,
  100: #cbb4f2,
  200: #a982ea,
  300: #874fe2,
  400: #6d2adb,
  500: #5304d5,
  600: #4c03d0,
  700: #4203ca,
  800: #3902c4,
  900: #2901ba,
  A100: #e7e3ff,
  A200: #bcb0ff,
  A400: #917dff, // Image showed blue, but video showed purple.
  A700: #7b63ff, // I used the video's color since it was higher resolution.
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

// Assuming the "Update" design has the accent color:
$dc-accent: (
  50: #fff6ea,
  100: #ffeacc,
  200: #ffdcaa,
  300: #ffcd87,
  400: #ffc36e,
  500: #ffb854,
  600: #ffb14d,
  700: #ffa843,
  800: #ffa03a,
  900: #ff9129,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe9d6,
  A700: #ffdbbd,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dc-warn: (
  50: #feeeed,
  100: #fdd5d2,
  200: #fcb9b4,
  300: #fa9d95,
  400: #f9887f,
  500: #f87368,
  600: #f76b60,
  700: #f66055,
  800: #f5564b,
  900: #f3433a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd9d7,
  A700: #ffc0be,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dc-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  // Modified:
  hover: $hover-color,
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700),
);

$dc-foreground: (
  base: black,
  // Modified:
  divider: $outline-color,
  // Modified:
  dividers: $outline-color,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  // Modified:
  icon: black,
  // Modified:
  icons: black,
  // Modified:
  text: $outline-color,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dc-theme: (
  primary: mat-palette($dc-primary),
  accent: mat-palette($dc-accent, A200, A100, A400),
  warn: mat-palette($dc-warn),
  is-dark: false,
  foreground: $dc-foreground,
  background: $dc-background,
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dc-theme);
