<!-- Normal Angular Material code: -->
<!-- Inactive input: -->
<span>Inactive</span>
<mat-form-field>
  <mat-label *ngIf="active">Label Text</mat-label>
  <mat-icon matPrefix>event</mat-icon>
  <input matInput value="Input Text">
  <mat-icon matSuffix>visibility</mat-icon>
  <mat-hint>Hint text</mat-hint>
</mat-form-field>

<!-- Active input: -->
<span>Active</span>
<mat-form-field>
  <mat-label>Label Text</mat-label>
  <mat-icon matPrefix>event</mat-icon>
  <input matInput value="Input Text">
  <mat-icon matSuffix>visibility</mat-icon>
  <mat-hint>Hint text</mat-hint>
</mat-form-field>

<!-- Error input: -->
<span>Error</span>
<mat-form-field>
  <mat-label>Label Text</mat-label>
  <mat-icon matPrefix>event</mat-icon>
  <input matInput [formControl]="errorControl">
  <mat-icon matSuffix>error_outline</mat-icon>
  <mat-error>Error text</mat-error>
</mat-form-field>