// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

@import "./fonts.scss";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Lato, monospace",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Import overrides for form-field CSS:
@import "./form-field-overrides.scss";

// I used a color-picker on the provided screenshot to get one main color value, and then
// generated the palettes with this tool (http://mcg.mbitson.com/). Replaced hard-coded
// contrasts with "$xxx-primary-text".
$itn-dc-primary: (
  50: #e9ecff,
  100: #c8d0ff,
  200: #a4b1ff,
  300: #8092ff,
  400: #647aff,
  500: #4963ff,
  600: #425bff,
  700: #3951ff,
  800: #3147ff,
  900: #2135ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d0d4ff,
  A700: #b7bcff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// Assuming the "Update" design has the accent color:
$itn-dc-accent: (
  50: #fff6ea,
  100: #ffeacc,
  200: #ffdcaa,
  300: #ffcd87,
  400: #ffc36e,
  500: #ffb854,
  600: #ffb14d,
  700: #ffa843,
  800: #ffa03a,
  900: #ff9129,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe9d6,
  A700: #ffdbbd,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$itn-dc-warn: (
  50: #feeeed,
  100: #fdd5d2,
  200: #fcb9b4,
  300: #fa9d95,
  400: #f9887f,
  500: #f87368,
  600: #f76b60,
  700: #f66055,
  800: #f5564b,
  900: #f3433a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd9d7,
  A700: #ffc0be,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$itn-dc-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  // Modified:
  hover: rgba(black, 0.06),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700),
);

$itn-dc-foreground: (
  base: black,
  // Modified:
  divider: $outline-color,
  // Modified:
  dividers: $outline-color,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  // Modified:
  icon: black,
  // Modified:
  icons: black,
  // Modified:
  text: $outline-color,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$itn-dc-theme: (
  primary: mat-palette($itn-dc-primary),
  accent: mat-palette($itn-dc-accent, A200, A100, A400),
  warn: mat-palette($itn-dc-warn),
  is-dark: false,
  foreground: $itn-dc-foreground,
  background: $itn-dc-background,
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($itn-dc-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
