@import "~@angular/material/theming";

@import "./styles/fonts.scss";
@import "./styles/theme.scss";
@import "./styles/itn-form-field.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
